isaacsim==4.0.0.0
isaacsim_app==4.0.0.0
isaacsim_asset==4.0.0.0
isaacsim_benchmark==4.0.0.0
isaacsim_code_editor==4.0.0.0
isaacsim_core==4.0.0.0
isaacsim_cortex==4.0.0.0
isaacsim_example==4.0.0.0
isaacsim_extscache_kit==4.0.0.0
isaacsim_extscache_kit_sdk==4.0.0.0
isaacsim_extscache_physics==4.0.0.0
isaacsim_gui==4.0.0.0
isaacsim_kernel==4.0.0.0
isaacsim_replicator==4.0.0.0
isaacsim_rl==4.0.0.0
isaacsim_robot==4.0.0.0
isaacsim_robot_motion==4.0.0.0
isaacsim_robot_setup==4.0.0.0
isaacsim_ros1==4.0.0.0
isaacsim_ros2==4.0.0.0
isaacsim_sensor==4.0.0.0
isaacsim_storage==4.0.0.0
isaacsim_template==4.0.0.0
isaacsim_test==4.0.0.0
isaacsim_utils==4.0.0.0
matplotlib==3.5.1
numpy==2.1.2
omniverse_kit==106.0.0
open3d==0.18.0
opencv_python==4.5.5.64
opencv_python_headless==4.10.0.84
Pillow==9.1.0
Pillow==11.0.0
PyQt5==5.15.11
PyQt5_sip==12.15.0
pyrealsense2==2.55.1.6486
rembg==2.0.59
usd-core==24.11