QWidget#GreenHalf {
    background-color: #84bf3b;
}

QLabel#Label1 {
    font-weight: bold;
    font-size: 18px;
    margin: 15px;
}

QLabel#Label2, QLabel#Label3 {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

QWidget#BottomWidget {
    background-color: #d9d9d9;
}


